<div class= "login-form" style="text-align:center">
  <img src="src\assets\images\user-profile.png" alt="User Profile Img">
  <div class="login-password-row">
    <h1 class="">Please Log In</h1>
    <div class="inputs-row">
      <p *ngIf="checkLogin()" class="check-login">
        Wrong LOGIN!
      </p>
      <div>
        <input (keyup)="checkLogin()" type="text" placeholder="  Enter Your Login" [(ngModel)]="inputLogin">
      </div>
      <div>
        <input (keyup)="checkPass()" type="password" placeholder="  Enter Your Password" [(ngModel)]="inputPass">
      </div>
      <p *ngIf="checkPass()" class="check-pass">
        Wrong PASSWORD!
      </p>
      <p *ngIf="isUserCorrect" class="check-user">
        No User, Please Sign UP!
      </p>
    </div>
    <div class="buttons-row">
      <button (click)="login()" [disabled]="checkLogin() || checkPass()"><i class="fas fa-sign-in-alt"></i>  LogIn</button>
      <br>
      <button (click)="signUP()"><i class="fas fa-user-plus"></i>  SignUp</button>
    </div>
  </div>
  <h3>© Popalex, Inc.</h3>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

