.login-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}
img {
  width: 20%;
}
input {
  padding-left: 0.5vw;
  margin: 0.1vw;
  border-color: #000000;
  width: 20vw;
  height: 2vw;
}
input:disabled {
  cursor: default;
}
p {
  color: #ffffff;
  position: absolute;
}
.check-login {
  bottom: 80%;
  right: 30%;;
}
.check-pass {
  top: 83%;
  right: 23%;
  background-color: #c68313;
}
.check-user {
  top: 83%;
  right: 17%;
}
.check-users {
  top: 83%;
  right: 17%;
}
.inputs-row {
  position: relative;
}
.buttons-row {
  margin-top: 2vw;
}
button {
  border: none;
  background-color: #c68313;
  font-size: 2vw;
  color: #ffffff;
  cursor: pointer;
}
button:disabled {
  color: #000000;
  cursor: default;
}
h3 {
  position: fixed;
  color: #ffffff;
  top: 90%;
  left: 46%;
}
