.phone-info {
  height: 100%;
}
.description {
  display: flex;
}
button {
  border: none;
  background-color: #c68313;
  font-size: 2vw;
  color: #ffffff;
  cursor: pointer;
}
h3 {
  margin: 0.2vw;
}
