<div class="catalog">
  <div>
    <button (click)="logout()" title="LogOut"><i class="fas fa-power-off"></i> LogOut</button>
  </div>
  <div>
    <h1><i class="fas fa-mouse-pointer"></i> Click On Phone To Show More Info <i class="fas fa-info-circle"></i></h1>
  </div>
  <div class="phones-row" *ngIf="arrPhones">
    <a (click)="goToPage(phone.id)" *ngFor="let phone of arrPhones" class="phone-info" title="Click To Show More Info">
      <img [src]="phone.imgUrl" alt="Phone Img">
      <div title="Phone Model"><i class="fas fa-mobile-alt"></i> {{phone['model']}}</div>
      <div title="Phone Price"><i class="fas fa-dollar-sign"></i> {{phone['price']}}</div>
    </a>
  </div>
  <h3 title="One of the biggest corporation in the world">© Popalex, Inc.</h3>
</div>


